$schema: https://json-schema.org/draft-07/schema
$defs:
  Accounts:
    additionalProperties: false
    description: InNoHassle Accounts integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/accounts/v0
        description: URL of the Accounts API
        title: Api Url
        type: string
      api_jwt_token:
        description: JWT token for accessing the Accounts API as a service
        format: password
        title: Api Jwt Token
        type: string
        writeOnly: true
    required:
    - api_jwt_token
    title: Accounts
    type: object
  MinioSettings:
    additionalProperties: false
    properties:
      endpoint:
        default: 127.0.0.1:9000
        description: URL of the target service.
        title: Endpoint
        type: string
      secure:
        default: false
        description: Use https connection to the service.
        title: Secure
        type: boolean
      region:
        anyOf:
        - type: string
        - type: 'null'
        default: null
        description: Region of the service.
        title: Region
      bucket:
        default: search
        description: Name of the bucket in the service.
        title: Bucket
        type: string
      access_key:
        description: Access key (user ID) of a user account in the service.
        examples:
        - minioadmin
        title: Access Key
        type: string
      secret_key:
        description: Secret key (password) for the user account.
        examples:
        - password
        format: password
        title: Secret Key
        type: string
        writeOnly: true
      event_images_prefix:
        default: event_images/
        title: Event Images Prefix
        type: string
    required:
    - access_key
    - secret_key
    title: MinioSettings
    type: object
additionalProperties: false
description: Settings for the application.
properties:
  $schema:
    anyOf:
    - type: string
    - type: 'null'
    default: null
    title: $Schema
  app_root_path:
    default: ''
    description: Prefix for the API path (e.g. "/api/v0")
    title: App Root Path
    type: string
  db_url:
    description: PostgreSQL database settings
    examples:
    - postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
    - postgresql+asyncpg://postgres:postgres@db:5432/postgres
    format: password
    title: Db Url
    type: string
    writeOnly: true
  cors_allow_origin_regex:
    default: .*
    description: 'Allowed origins for CORS: from which domains requests to the API
      are allowed. Specify as a regex: `https://.*.innohassle.ru`'
    title: Cors Allow Origin Regex
    type: string
  accounts:
    $ref: '#/$defs/Accounts'
  superadmin_emails:
    default: []
    description: List of superadmin emails
    items:
      type: string
    title: Superadmin Emails
    type: array
  api_key:
    description: Secret key for accessing API by external services
    format: password
    title: Api Key
    type: string
    writeOnly: true
  minio:
    $ref: '#/$defs/MinioSettings'
    description: Configuration for S3 object storage
  clubs_base_url:
    default: https://api.innohassle.ru/clubs/staging-v0/
    title: Clubs Base Url
    type: string
required:
- db_url
- accounts
- api_key
- minio
title: Settings
type: object
